  <nav class="bg-dark-subtle pe-5">
      <ul class="d-flex justify-content-end p-3 gap-5 list-unstyled">
        <li><a class="text-decoration-none text-dark" href="/signin">SignIN</a></li>
        <li><a class="text-decoration-none text-dark" href="/signup">SignUp</a></li>
        <li><a class="text-decoration-none text-dark" href="/signout">SingOut</a></li>
      </ul>
    </nav>