 <nav class="nav">
  <span class=""
    ><i class="ri-menu-4-fill"></i><img class="ms-2" width="32" height="32" src="/images/icons8-cat-footprint-64 (1).png" alt="cat-footprint"/>
    <h3 class="me-3 logo">Glee</h3></span
  >

  <div class="serchBarDiv ms-4">
    <img src="/images/search.svg" alt="picture" />
    <h6 class="">Search</h6>
  </div>
  <% if(locals.user){ %>
    <button class="ProfileIcon"><a class="text-decoration-none text-dark" href="/profile"><img src="/images/userImages/<%=user.avatar%>" alt=""></a></button>
    <% }else{ %>
      <button class="SignInbtn-joinPage"><a class="text-decoration-none text-dark" href="/signin">SIGN IN</a></button>
      <% } %>
</nav>