<%- include("./partials/header") %>

<h1 class="ms-5 mt-5">Set your new password</h1>
<form class="p-5" action="/change-password/<%= user._id %>" method="post">
  <input
    class="m-3 w-25 form-control"
    type="password"
    placeholder="New password"
    name="password"
  />
 
  <button class="m-3 btn btn-sm bg-dark-subtle">Set password</button>
</form>

<%- include("./partials/footer") %>
