
<%- include("./partials/header") %> <%- include("./partials/nav") %>

<div class="profileContainer">
  <div class="feedSideBar">
    <div class="d-flex flex-column justify-content-around ps-4 pt-4 pb-4">
      <a href="/home"><img src="/images/homeIcon.svg" alt="" />&nbsp; Home</a>
      <a href="/profile"><i class="ri-bear-smile-line"></i> &nbsp; Profile</a>
      <a href="/setting"><i class="ri-settings-line"></i> &nbsp; Setting</a>
    </div>
    <div>
      <!-- <span class="createPost"
        ><i class="ri-gallery-upload-fill"></i>&nbsp; Upload</span
      > -->
    </div>
    <div class="sideOptions-Div3">
      <h6 class="ms-4 mt-2">
        <a class="text-decoration-none text-dark" href="/signout">Log Out</a>
      </h6>
      <div class="">
        <i class="ms-4 mt-1 ri-google-play-line"></i
        ><i class="ms-2 mt-1 ri-apple-fill"></i>
      </div>
      <div class="sideCardFooter ps-4">
        <ul class="d-flex gap-3 list-unstyled">
          <li>Terms</li>
          <li>Privacy</li>
          <li>FAQ</li>
        </ul>
        <p class="">
          Made with <img src="/images/like_blue.svg" alt="" /> by <br />
          <strong>ASHISH CHAKRAVARTI</strong>
        </p>
        <p class="">&copy 2023 Peeps Enterprises, Inc.</p>
        <div class=""></div>
      </div>
    </div>
  </div>
  
  <div class="confirmationBox ">
    <span class="d-flex flex-column align-items-center justify-content-between"><p class="fs-4 mt-2">Are you leaving us ? <i class="ri-emotion-sad-line"></i></p>   <p>This action will permanently delete your account and all associated posts. It cannot be undone.</p></span>
 
    <button class="leaveBtn"><a href="/deleteaccount">Yes! I'm Leaving</a></button>
    <button><a href="/home">No! Take me back</a></button>
   
   
  </div>
</div>

<%- include("./partials/footer") %>

