<%- include("./partials/header") %> <%- include("./partials/nav") %>

<div class="feedBox">
  <div class="feedSideBar">
    <div class="d-flex flex-column justify-content-around ps-4 pt-4 pb-4">
      <a href="/home"><img src="/images/homeIcon.svg" alt="" />&nbsp; Home</a>
      <a href="/profile"><i class="ri-bear-smile-line"></i> &nbsp; Profile</a>
       <a  class="discoverIconFeedBar" href="/discover"> <i class="ri-planet-line"></i> &nbsp; Discover</a>
      
    </div>
    <div class="d-flex flex-column">
      <span class="createPost"
        ><i class="ri-gallery-upload-fill"></i>&nbsp; Upload</span
      >
      <a class="settingIconFeedBar" href="/setting"><i class="ri-settings-line"></i> &nbsp; Setting</a>
     
    </div>
    <div class="sideOptions-Div3">
      <h6 class="ms-4 mt-2">
        <a class="text-decoration-none text-dark" href="/signout">Log Out</a>
      </h6>
      <div class="">
        <i class="ms-4 mt-1 ri-google-play-line"></i
        ><i class="ms-2 mt-1 ri-apple-fill"></i>
      </div>
      <div class="sideCardFooter ps-4">
        <ul class="d-flex gap-3 list-unstyled">
          <li>Terms</li>
          <li>Privacy</li>
          <li>FAQ</li>
        </ul>
        <p class="">
          Made with <img src="/images/like_blue.svg" alt="" /> by <br />
          <strong>ASHISH CHAKRAVARTI</strong>
        </p>
        <p class="">&copy 2023 Peeps Enterprises, Inc.</p>
        <div class=""></div>
      </div>
    </div>
  </div>
  <!-- ... other HTML code ... -->

  <div class=" d-flex flex-column w-100 h-100 justify-content-center align-items-center">

    <div class="Discover-content">
      <!-- Existing code for images -->
    
      <!-- <div id="loadMoreContainer"> -->
        <!-- </div> -->
      </div>
      <button class="mb-5" id="loadMore">Load More</button>
  </div>


<!-- ... other HTML code ... -->
<script>
  // JavaScript code to handle infinite scroll
  const loadMoreButton = document.getElementById("loadMore");
  const loadMoreContainer = document.getElementById("loadMoreContainer");
  let page = 2; // Initial page number

  loadMoreButton.addEventListener("click", async () => {
    try {
      const response = await axios.get(
        `https://picsum.photos/v2/list?page=${page}&limit=12`
      );

      if (response.data.length > 0) {
        // Append new images to the existing container
        response.data.forEach((img) => {
          const imgElement = document.createElement("div");
          imgElement.innerHTML = `<img src="${img.download_url}" alt="">`;
          document.querySelector(".Discover-content").appendChild(imgElement);
        });

        page++; // Increment the page number
      } else {
        // No more images to load, hide the "Load More" button
        loadMoreContainer.style.display = "none";
      }
    } catch (error) {
      console.error(error);
    }
  });
</script>




<%- include("./partials/footer") %>
