<%- include("./partials/header") %>

<div class="ExplorePage">
<div class="ExplorePageBox">
    <div class="ExplorePageBox-top">
        <ul >
            <li>Nature</li>
            <li>Exploration</li>
            <li>Science</li>
            <li>Art</li>
            <li>Photography</li>
        </ul>
    </div>
    <div class="ExplorePageBox-bottom">
        <div class="ExplorePageBox-LeftContent">
            <h1>01</h1>
            <h2>Amazing corners <br> of the planet</h2>
            <button class="explore">EXPLORE</button>
        </div>
    </div>
</div>
</div>

<%- include("./partials/footer") %>