<%- include("./partials/header") %>

<div class="ExplorePage">
  <div class="ExplorePageBox">
    <div class="ExplorePageBox-top">
      <ul>
        <li>NATURE</li>
        <li>EXPLORATION</li>
        <li>SCIENCE</li>
        <li>ART</li>
        <li>PHOTOGRAPHY</li>
      </ul>
    </div>
    <div class="ExplorePageBox-bottom">
      <div class="ExplorePageBox-LeftContent">
        <h1>01</h1>
        <h2>
          Amazing corners <br />
          of the planet
        </h2>
        <button class=" explore "><a class="text-light text-decoraion-none" href="/signin">EXPLORE</a></button>
      </div>
      <div class="ExplorePageBox-RightContent">
        <div class="imgBox1">
         <h1>02</h1>
         <h3>Uncover</h3>
         <p>&#9702;&#9702;&#9702;THE WORLD</p>
        </div>
        <div class="imgBox2">
           <h1>03</h1>
         <h3>Discover</h3>
         <p>&#9702;&#9702;&#9702;NEW IDEAS</p>
        </div>
        <div class="imgBox3">
          <h1>04</h1>
         <h3>Engage</h3>
         <p>&#9702;&#9702;&#9702;WITH CREATIVE MINDS</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
