<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<h1></h1>
<p>Welcome to Homepage</p>
<Button class="ms-5 btn btn-sm bg-warning"><a class="text-decoration-none text-dark" href="/reset">Reset</a></Button>

<%- include("./partials/footer") %>