<%- include("./partials/header") %>
<nav class="nav">
  <span class=""
    ><i class="ri-menu-4-fill"></i>
    <h3 class="me-3">Glee</h3></span
  >

  <div class="serchBarDiv ms-4">
    <img src="/images/search.svg" alt="picture" />
    <h6 class="">Search</h6>
  </div>
  <button class="SignInbtn-joinPage"><a class="text-decoration-none text-dark" href="/signin">SIGN IN</a></button>
</nav>
<div class="joinBoxContent">
  <div class="sideOptions">
    <div class="d-flex flex-column justify-content-around ps-4 pt-4 pb-4">
      <a href=""><img src="/images/homeIcon.svg" alt="">&nbsp; Home</a>
      <a href=""><i class="ri-bear-smile-line"></i> &nbsp; Profile</a>
      <a href=""><i class="ri-settings-line"></i> &nbsp; Setting</a>
    </div>
    <div></div>
    <div class="sideOptions-Div3">
      <div></div>
      <div class=""><i class="ms-4 mt-1 ri-google-play-line"></i><i class="ms-4 mt-1 ri-apple-fill"></i></div>
      <h6 class="ms-4 mt-2">English</h6>
      <div class="sideCardFooter ps-4">
        <ul class="d-flex gap-3 list-unstyled ">
          <li>Terms</li>
          <li>Privacy</li>
          <li>FAQ</li>
        </ul>
        <p class="">Made with <img src="/images/like_blue.svg" alt=""> by <br> <strong>ASHISH CHAKRAVARTI</strong></p>
        <p class="">&copy 2023 Peeps Enterprises, Inc.</p>
      <div class=""></div>

      </div>
    </div>
  </div>
  <div class="HastagBox">
    <h4><i class="ri-hashtag"></i>Trending Ideas</h4>
    <div class="">
      <h5>#webDev <br> <span>30.1M People used</span></h5>
      <img src="/images/vector-down.svg" alt="">
    </div>
    <div class="">
      <h5>#music <br> <span>3.1M People used</span></h5>
      <img src="/images/vector-down.svg" alt="">
    </div>
    <div class="">
      <h5>#gaming <br> <span>2.1M People used</span></h5>
      <img src="/images/vector-down.svg" alt="">
    </div>
    <div class="">
      <h5>#movies <br> <span>7.2M People used</span></h5>
      <img src="/images/vector-down.svg" alt="">
    </div>
    <div class="">
      <h5>#food <br> <span>1.5M People used</span></h5>
      <img src="/images/vector-down.svg" alt="">
    </div>
    <div class="">
      <h5>#photography <br> <span>4.5M People used</span></h5>
      <img src="/images/vector-down.svg" alt="">
    </div>
   
    
  </div>
  <div class="BrandContent">
    <img class="" src="images/giphy (2).gif" alt="">
    <!-- <img class="" src="images/giphy (2).gif" alt=""> -->
    <button class="joinBtn"><a class="text-decoration-none text-light" href="/signup">JOIN NOW</a></button>
  </div>
</div>
<%- include("./partials/footer") %>
