<%- include("./partials/header") %>
<nav class="nav">
  <span class=""><i class=" ri-menu-4-fill"></i>
<h3 class="me-3">LOGO</h3></span>

<div class="serchBarDiv">
  <img src="/images/search.svg" alt="picture">
  <h6 class="">Search</h6>
</div>
<button class="SignInbtn-joinPage">SIGN IN</button>
</nav>
<div class="joinBoxContent">
  
</div>
<%- include("./partials/footer") %>