<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<h1></h1>
<p>Welcome to SignUp page</p>
<form action="/signup" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button>Sign-up</button>
</form>

<%- include("./partials/footer") %>