*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
.ExplorePage{
    width: 100vw;
    height: 100%;
    background-image: url("/images/elephant final.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ExplorePageBox{
    width: 80%;
    height: 90%;
    border-radius: 10px;
    background-color: white;
    background-size: cover;
    background-position: center;
        background-image: url("/images/elephant final.jpg");

}
.ExplorePageBox-top{
    width: 100%;
    height: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.ExplorePageBox-bottom{
    width: 100%;
    height: 90%; 
    display: flex;
}
.ExplorePageBox-top>ul{
    gap: 2vmax;
    display: flex;
    margin-top: 2vmax;
    margin-left: 8vmax;
    color: white;
    list-style: none;
}
.ExplorePageBox-top>ul>li{
   /* font-family: 'Phudu', cursive; */
font-family: 'Encode Sans SC', sans-serif;
font-weight: 500;


   font-size: 0.8vmax;
   letter-spacing: 0.1vmax;
}
.ExplorePageBox-LeftContent{
    width: 60%;
    height: 100%;
/* font-family: 'Encode Sans SC', sans-serif; */
font-family: "Roboto";
color: white;
padding-left: 6vmax;
padding-top: 2vmax;

}
.ExplorePageBox-LeftContent h1,.ExplorePageBox-LeftContent h2{
    font-weight: 900;

}
.ExplorePageBox-LeftContent h1{
    font-size: 12vmax;
    opacity: 0.3;
}
.ExplorePageBox-LeftContent h2{
    font-size: 3.2vmax;
    word-spacing: 0.2vmax;
    font-weight: 600;
    letter-spacing: 0.1vmax;
    margin-top: 2vmax;
    
}
.explore{
    width: 15vmax;
    height:3vmax;
    color: white;
    background-color: transparent;
    border: 2px solid rgba(229, 227, 227, 0.342);
    margin-top: 3vmax;
    border-radius: 50px;
    font-weight: 300;
font-family: 'Encode Sans SC', sans-serif;

}

.ExplorePageBox-RightContent{
    width: 40%;
    height: 100%;
    
}
.ExplorePageBox-RightContent >div{
    width: 75%;
    height: 32%;
    margin-top: 1vmax;
    border-radius: 10px;
    margin-left: 5vmax;
    overflow: hidden;
    opacity: 0.9;
}

.imgBox1{
    background-image: url("https://images.unsplash.com/photo-1498855926480-d98e83099315?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 2vmax;
    
}
.imgBox1 > h1{
    font-size: 8.5vmax;
    font-weight: 500;
    margin-left: 12vmax;
    margin-top: -4.5vmax;
    -webkit-text-stroke: 0.5px #f1e7df;
    opacity: 0.7;

    

}
.imgBox1 > h3{
    margin-top: 2vmax;
    letter-spacing: 0.2vmax;
    font-weight: 700;
}
.imgBox1 >p{
    letter-spacing: 0.1vmax;
}
.imgBox2{
    background-image: url("https://images.unsplash.com/photo-1617868634099-47f2f38d6be9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1933&q=80");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
     color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 2vmax;
}
.imgBox2 > h1{
    font-size: 8.5vmax;
    font-weight: 500;
    margin-left: 12vmax;
    margin-top: -4.5vmax;
    -webkit-text-stroke: 0.5px #f1e7df;
    opacity: 0.7;

    

}
.imgBox2 > h3{
    margin-top: 2vmax;
    letter-spacing: 0.2vmax;
    font-weight: 700;
}
.imgBox2 >p{
    letter-spacing: 0.1vmax;
}
.imgBox3{
    background-image: url("https://images.unsplash.com/photo-1508166093217-f35d00c95fca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
     color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 2vmax;
}
.imgBox3 > h1{
    font-size: 8.5vmax;
    font-weight: 500;
    margin-left: 12vmax;
    margin-top: -4.5vmax;
    -webkit-text-stroke: 0.5px #f1e7df;
    opacity: 0.7;

    

}
.imgBox3 > h3{
    margin-top: 2vmax;
    letter-spacing: 0.2vmax;
    font-weight: 700;
}
.imgBox3 >p{
    letter-spacing: 0.1vmax;
}

nav{
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav i{
    font-size: 2vmax;
}
.serchBarDiv{
    width: 80%;
    height: 40%;
    border-radius: 50px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding-left: 1vmax;

}
nav span{
    width: 5vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.serchBarDiv img{
    width: 1.1vmax;
    
}
.serchBarDiv h6{
   color: #b7b4b1;
   font-weight: 400;
   margin-left: 0.5vmax;
   margin-top: 0.3vmax;
    
}
.SignInbtn-joinPage{
    width: 8vmax;
    height: 2.5vmax;
    background-color: #4EDCD8;
    border: none;
    border-radius: 50px;
}
.joinBoxContent{
    width: 100vw;
    height: 88vh;
    display: flex;
}
.sideOptions{
    width: 18vw;
    height: 100%;

}
.sideOptions >div{
    width: 100%;
    height: 33.33%;
}
.sideOptions >div>a>img{
    width: 1.8vmax;
}
.sideOptions >div>a>i{
    font-size: 1.5vmax;
    font-weight: 100;
}
.sideOptions >div>a{
    text-decoration: none;
    color: black;
    font-size: 1vmax;
}
.HastagBox{
     width: 25vw;
    height: 100%;
}
.sideOptions-Div3{
    font-size: 0.79vmax;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sideOptions-Div3>div>p>img{
    width: 1vmax;
}
.sideOptions-Div3>div>i{
    font-size: 1.3vmax;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: black;
    padding: 0.5vmax;
}
.sideOptions-Div3>h6{
    width: 5vmax;
    font-size: 0.8vmax;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    padding: 0.5vmax 1vmax;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);

}
.sideCardFooter{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
}
.HastagBox>div{
    width: 90%;
    height: 5vmax;
    margin-top: 1.2vmax;
    border-radius: 35px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8vmax;
}
.HastagBox > div:hover {
    transition: all 2s ease;
    background-color: #4EDCD8;
}
.HastagBox>div>img{
    width: 1vmax;
}
.HastagBox>div>h5{
    font-size: 1vmax;
    font-weight:500;
}
.HastagBox>div>h5>span{
    font-size: 0.85vmax;
    color: rgb(160, 156, 156);
    font-weight: 400;
}

.BrandContent{
     width: 52vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.BrandContent >img{
    /* width: 90%; */
    width:30vmax;
    /* margin-left: 12vmax; */
    margin-top: -5vmax;
}
.joinBtn{
    width: 15vmax;
    color: white;
    height: 3vmax;
   border: none;
   background-color: #4EDCD8;
   border-radius: 50px;
}
